%h3
  Hysteria Engine
#placeholder{:style => 'width:800px;height:300px'}
= javascript_tag chart_javascript
%button.update{:type => 'button'}
  Start
%button.stop{:type => 'button'}
  Stop
.buttons
  %button.hit{:type => 'button'}
    Hit
